// Define Global Available Colors
$color-blue: hsl(193, 99%, 91%);
$color-green: hsl(152, 41%, 53%);
$color-green-dark: hsl(150, 41%, 36%);
$color-green-dark-hover: hsl(152, 69%, 27%);
$color-pink: hsl(334, 100%, 51%);
$color-pink-light: hsl(334, 74%, 91%);
$color-pink-dark: hsl(334, 81%, 36%);

// Define Application Colors
$color-main: $color-pink;
$color-main-light: $color-pink-light;
$color-main-dark: $color-pink-dark;
$color-accent: $color-green;
$color-accent-dark: $color-green-dark;
$color-text-dark: hsl(210, 11%, 15%);
$color-text-gray: hsl(0, 0%, 46%);
$color-text-light: hsl(0, 0%, 100%);