// Define Global Available Colors
$color-blue: hsl(193, 99%, 91%);
$color-green: hsl(152, 41%, 53%);
$color-pink: hsl(339, 81%, 56%);
$color-pink-light: hsl(351, 74%, 91%);

// Define Application Colors
$color-main: $color-pink;
$color-accent: $color-green;
$color-text-dark: #010203;
$color-text-light: white;
